@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Roboto:ital,wght@1,100&display=swap');

// font-family: 'Baloo 2', cursive;
// font-family: 'Roboto', sans-serif;

*{
    margin: 0;
    padding: 0;
    font-family:'Baloo 2','Roboto', sans-serif, cursive ;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}